<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% seo %}
    <link rel="icon" href="{{ '/assets/img/favicon.svg' | relative_url }}" type="image/svg+xml">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{ site.logo | relative_url }}" alt="{{ site.title }}" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <ul class="downloads">
          <li><a href="https://aakashsolanki.net/blog" target="_blank" rel="noopener noreferrer"><strong>Blog</strong></a></li>
          <li><a href="https://orcid.org/0000-0002-4879-6998" target="_blank" rel="noopener noreferrer"><strong>ORCID</strong></a></li>
          <li><a href="mailto:mail@aakashsolanki.net"><strong>Email</strong></a></li>
          <li><a href="https://utoronto.academia.edu/AakashSolanki" target="_blank" rel="noopener noreferrer"><strong>Academia</strong></a></li>
        </ul>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
